body{
    background-color: rgb(157, 178, 197);
}

#login{
    margin: auto;
    margin-top: 100px;
    background-color: rgb(94, 94, 245);
    width: 50vw;
}
.top{
    text-align: center;
    background-color: rgb(58, 58, 238);
    padding: 10px;
    font-size: 1.5em;
    color: white;
}
.middle{
    padding: 30px;
}
.middle h4{
    color: white;
    font-size: 1.5em;
    font-weight: 200;
    margin-left: 20px;
}
#nameinput{
    width: 60%;
    margin: 20px;
    margin-top: 5px;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid blue;
}
#rooms{
    margin-left: 20px;
    font-size: 1.5em;
    width: 40%;
    border-radius: 20px;
    padding: 5px;
}
#joinbtn{
    margin-left: 20px;
    font-size: 1.2em;
    padding: 10px;
    background-color: blueviolet;
    color: #fff;
    border-radius: 10px;
    border: 2px solid blue;
    cursor: pointer;
}
.bottom{
    padding: 30px;
    margin: 20px;
}
.bottom >button{
    font-size: 1.2em;
    padding: 10px;
    background-color: blueviolet;
    color: #fff;
    border-radius: 10px;
    border: 2px solid blue;
    cursor: pointer;
}
#createroom{
    margin: 20px;
    display: none;
}
#createroom input,#createroom button{
    border-radius: 10px;
    border: 2px solid blue;
    padding: 5px;
    cursor: pointer;
}