<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/gridstyle.css">
    <link rel="stylesheet" href="css/chat.css">
    <script>
        const Room = "<%= room %>";
        const Id = "<%= id %>";
        const Name = "<%= name %>";
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/chat.js" defer></script>
    <title>What's App</title>
</head>

<body>
    <header id="header">
        
    </header>

    <div class="row">
        <div id="info" class="col-lg-3 col-md-3 col-sm-3">
            <button id="leaveroom" onclick="Leave()"> Leave This Room </button>
            <h2>Room Name</h2>
            <div id="roomname"></div>
            <hr style="color: rgb(58, 58, 238);height: 3px;width: 100%;">
            <h2 style="margin-top: 10px;">Members</h2>
            <div id="users"></div>
        </div>
        <div id="chatbox" class="col-lg-9 col-md-9 col-sm-9">
            <div id="msgbox">
                <!-- <div class="recevmsg">
                    <p><span>Aryan :</span> Hii How Are You</p>
                    <p>9:20pm</p>
                </div>
                <div class="sendmsg">
                    <p><span>You:</span> Hii How Are You</p>
                    <p>9:20pm</p>
                </div>  -->
            </div>


            <div id="msgcontrol">
                <input id="msginput" type="text" placeholder="type message.....">
                <button onclick="sendmsg()">Send</button>
            </div>
        </div>
    </div>
</body>

</html>