<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/gridstyle.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/login.js" defer></script>
    <title>What's App</title>
</head>
<body>
    <div id="login">
        <div class="top">
            Welcome To What's App
        </div>
        <div class="middle">
            <h4>Enter Your Name</h4>
            <input id="nameinput" type="text" placeholder="Enter Your name...">
            <br>
            <select id="rooms">
				<option>Select Room</option>
			</select>
            <Button onclick="joinroom()" id="joinbtn">Join now</Button>
        </div>

        <div class="bottom">
            <button onclick="newroom()" id="newroombtn">Create New Room +</button>
            <div id="createroom">
            <input id="newroominput" type="text" placeholder="New Room Name">
            <button onclick="createroom()" >Create</button>
            </div>
        </div>
    </div>
</body>
</html>